@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "header header header header" "one one one one " "two two two two " "three three three three" " footer footer footer footer";
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    margin: 2%;
    max-width: 90%;
    font-family: font-family: 'Open Sans', sans-serif;
}

.header ul {
    margin-left: -40%;
    display: flex;
    justify-content: space-between;
}

.header ul li {
    padding: 5%;
    list-style: none;
}

.one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    grid-area: one;
    margin: 2%;
    padding: 2%;
}

.one #img-one {
    margin-left: 30%;
    width: 50%;
    height: auto;
    overflow: auto;
}

.one h2 {
    font-size: 2rem;
}

.one .email #email {
    width: 50%;
    padding: 1%;
}

.one .email #submit {
    background-color: #3065f8;
    color: white;
    border: 1% solid #3065f8;
    width: 40%;
    height: auto;
    padding: 1%;
}

.two {
    margin: 0% 2%;
    padding: 5% 2%;
    grid-area: two;
    background-image: url("images/bg-curve-desktop.svg");
    background-size: 1000% 1000%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.two .two-text p #two-link {
    color: hsl(170, 45%, 43%);
}

.two .img-two img {
    margin: 0% 0% 0% 20%;
    width: 60%;
    height: auto;
}

.two #rating {
    padding: 4%;
    max-width: 80%;
    text-align: left;
    border: 1px white solid;
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 2%;
}

.two #rating #reference {
    display: flex;
    align-items: center;
}

.two #rating #reference ul {
    list-style: none;
    margin-left: -5%;
    font-size: 0.8em;
}

.two #rating #reference ul #name {
    font-weight: bold;
}

.two #rating #testimonial {
    border-radius: 50%;
    width: 20%;
    height: auto;
}

.three {
    margin: 0% 2%;
    padding: 2%;
    grid-area: three;
    background-color: #585989;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.three #email {
    width: 100%;
    padding: 2%;
    margin: 1%;
}

.three #submit {
    background-color: #3065f8;
    color: white;
    border: 1% solid #3065f8;
    width: 80%;
    height: auto;
    padding: 2%;
    margin: 1%;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: #070439;
    color: white;
    margin: 0% 2%;
    padding: 2%;
    max-width: 100%;
}

#logo-footer {}

.footer ul {
    margin-left: -40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer ul li {
    padding: 5%;
    list-style: none;
}

.footer .social {
    display: flex;
    justify-content: space-evenly;
}

.footer .social img {
    padding: 10%;
}


/*# sourceMappingURL=desktop.css.map */